<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Subscriptions with Node.js</title>
</head>
<body>
    <h1>Plans</h1>

    <h2>Starter</h2>
    <p><b>$20/month</b></p>
    <p>This is the Starter plan</p>
    <a href="/subscribe?plan=starter">Subscribe</a>

    <br><br><br>

    <h2>Pro</h2>
    <p><b>$40/month</b></p>
    <p>This is the Pro plan</p>
    <a href="/subscribe?plan=pro">Subscribe</a>
</body>
</html>